services:
  app:
    container_name: node_app
    build: ./node
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  # MongoDB server
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=sammy
      - MONGO_INITDB_ROOT_PASSWORD=your-password

    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
