<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Sharks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/boo>    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:40></head>

<body>
    <nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data>            </button> <a class="navbar-brand" href="#">Everything Shark>            <div class="collapse navbar-collapse" id="bs-example-navbar>                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav->                    </li>
                    <li class="nav-item"><a href="/sharks" class="nav-l>                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Want to Learn About Sharks?</h1>
            <p>Are you ready to learn about sharks?</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/sharks" role="b>            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
